<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user == micropost.user %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <% if current_user != micropost.user %>
   <% if micropost.favorited_by? current_user %>
       <%= link_to "Release Favorites", micropost_favorites_path(micropost), 
       method: :delete, data: { confirm: "You sure?" } %>
   <% else %>
       <%= link_to "Add Favsorites", micropost_favorites_path(micropost), method: :post %>
   <% end %>
  <% end %>
</li>
